.square {
    width: 200px;
    height: 200px;
    background-color: blue;
transform-origin: 10%;
}


.aaa {
    background-color: aqua;
    height: 200px;
    width: 100pc;
    text-align: center;
    font-size: 20px;    
}

#rrr {
    width: 40pt;
    height: 40pt;
    background-color: brown;
    position: relative;

}
#rrr:hover {
    transform: rotatex(360deg);
    transition-duration: 5s;
    transition-delay: 1s;
}
#ttt:hover {
    transition-duration: 2s;
    
    background-color: blueviolet;
    
    transition-duration: 10s; 
    transition-delay: 1s;
    transform: scale(10%);
    transform: rotatey(360deg);
    

}    	
